* {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main{
    background-color: black;
    padding: 20px 0;
    opacity: 0.9;
}
#main ul{
    display: flex;
    /* right: 0; */

}
#main li{
    list-style: none;
    margin-left: 60px;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 10px;

}
a:hover{
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 12px;
}
.meal{
    display: flex;
}
.order{
    border: 2px solid black;
    width: 350px;
    padding: 10px;
    margin: 3px;
}
.order img{
    width: 350px;
}
.btn{
    padding: 10px;
    border-radius: 8px;
    margin: 8px 0;
    border: none;
    background-color:rgb(167, 62, 62) ;
}
.btn:hover{
    background-color: black;
    color: rgb(167, 62, 62);
    cursor: pointer;
    /* border: none; */
    scale: 1;
    
}
.meal{
    display: flex;
}
.order h2{
    text-align: center;
}